<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        script(src="tema/js/jquery.min.js")
        script(src="tema/js/scripts.js")
        link(rel="stylesheet", href="./icon/css/fontello.css")
        link(rel="stylesheet", href="tema/css/styles.css")
        title Hair Doctor
    body
       header#header
         .grupo
            .caja.web-30
                h2.logo Hair
                   span Doctor
                p.subtitle.
                   A permanent hair loss Soluction
            .caja.web-70
                .icon-menu Menu
                .ul.menu
                    li.menu__items: a.menu__link(href="#") Home
                    li.menu__items: a.menu__link(href="#") About Us
                    li.menu__items: a.menu__link(href="#") Service
                    li.menu__items: a.menu__link(href="#") blog
                    li.menu__items: a.menu__link(href="#") Contacts
         .grupo
            .caja
                .banner
                    img(src="img/doctor.jpg", alt="No existe la imagen")
                    .copy
                        h2.copy__title Efective
                            span Hair Doctor
                        p.copy__description.
                            Lorem ipsum dolor sit amet consectetur 
                            adipisicing elit. Magni quae provident 
                            impedit veniam fugit soluta minima quas possimus,
                            sint eveniet deserunt iusto molestiae et ratione quis 
                            quam quos assumenda laudantium.Accusantium atque, eveniet 
                            minus mollitia vel aperiam culpa veniam magni dolores vitae. 
                        a.copy__boton(href="#") More
       section#servicios
        .grupo
           .caja.total
              h2.section-title service
                 span What we offer to our clients!
           .caja.tablet-1-3
                .servicio
                    img.servicio__img(src="img/check.png")
                    h3.servicio__title Hair Transplantation
                    p.servicio__description.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Pariatur natus distinctio quasi, nesciunt rerum ducimus qui id culpa incidunt, 
                            similique,dolor officia odit eius debitis aspernatur est quisquam autem maiores.
     
           .caja.tablet-1-3
             .servicio
                img.servicio__img(src="img/leaf.png")
                h3.servicio__title Medical Treatments
                p.servicio__description.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Pariatur natus distinctio quasi, nesciunt rerum ducimus qui id culpa incidunt, 
                    similique, dolor officia odit eius debitis aspernatur est quisquam autem maiores.

           .caja.tablet-1-3
                .servicio
                    img.servicio__img(src="img/plus.png")
                    h3.servicio__title Eyebrow Transplatation
                    p.servicio__description.
                       Lorem ipsum dolor sit amet consectetur adipisicing elit.
                       Pariatur natus distinctio quasi, nesciunt rerum ducimus qui id culpa incidunt, 
                       similique, dolor officia odit eius debitis aspernatur est quisquam autem maiores.

       section#clientes
        .grupo
            .caja.web-25
                .clientes
                h2.clientes__title this is the list  of our recent clients
                .clientes__nav   
                    .clientes__nav__item.clientes__nav__item--prev
                    .clientes__nav__item.clientes__nav__item--next
            .caja.web-25
                .cliente
                    img.cliente__img(src="./img/cliente1.jpg")
                    h3.cliente__title Client 1
                    p.cliente__description.
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid ipsa quas veniam,
                        impedit deserunt minima, adipisci nesciunt,
                        dolores suscipit ducimus voluptatem culpa quasi tempora maxime ad in? Illum, quas repellendus!
            .caja.web-25
                .cliente
                    img.cliente__img(src="img/cliente2.jpg")
                    h3.cliente__title Client 2
                    p.cliente__description.
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid ipsa quas veniam,
                        impedit deserunt minima, adipisci nesciunt,
                        dolores suscipit ducimus voluptatem culpa quasi tempora maxime ad in? Illum, quas repellendus!
            .caja.web-25
                .cliente
                    img.cliente__img(src="img/cliente3.jpg")
                    h3.cliente__title Client 3
                    p.cliente__description.
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid ipsa quas veniam,
                        impedit deserunt minima, adipisci nesciunt,
                        dolores suscipit ducimus voluptatem culpa quasi tempora maxime ad in? Illum, quas repellendus!

       Section#noticias
        .grupo
         .caja.tablet-1-3
            .noticia
               .h3.noticia__title Hair Transplants
                 span Vestibilum iaculis
                 img.noticia__img(src="img/noticia1.jpeg", alt="")
                 p.noticia__description.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum facilis aspernatur 
                    consequuntur similique porro repudiandae deserunt doloribus vel dolores repellat provident modi
                     iure quae ex iusto tempore fuga. Excepturi, asperi.
         .caja.tablet-1-3
            .noticia
               .h3.noticia__title Womens's hair loss
                span Vestibilum iaculis
                img.noticia__img(src="img/noticia2.jpeg", alt="")
                p.noticia__description.
                     ipsum dolor sit amet consectetur adipisicing elit. Earum facilis aspernatur consequuntur 
                     similique porro repudiandae deserunt doloribus vel dolores repellat provident modi
                     iure quae ex iusto tempore fuga. Excepturi, asperiores.
         .caja.tablet-1-3
            .noticia
               .h3.noticia__title Men's Hair loss
                span Vestibilum iaculis
                img.noticia__img(src="img/noticia3.jpg", alt="")
                p.noticia__description.
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum facilis aspernatur consequuntur
                      similique porro repudiandae deserunt doloribus vel dolores repellat provident modi
                       iure quae ex iusto tempore fuga. Excepturi, asperiores.


       footer#footer
        .grupo
         .caja.tablet-50
            .p.creditos Hair Doctor &copy; 2019 | Privacy Policy
         .caja.tablet-50
            .sociales
              a(href="#" class="icon-facebook").sociales__items
              a(href="#" class="icon-twitter").sociales__items
              a(href="#" class="icon-youtube").sociales__items
              a(href="#" class="icon-rss").sociales__items
              a(href="#" class="icon-linkedin").sociales__items

